{% extends "model-page.html" %}
{% block content %}
    <h2>Lista de Agendamento</h2>
    
    <a href="evento/">
    <button type="button">Novo evento</button>
    </a>

    <ul style="font-size: 20px;">
        {% for evento in eventos %}
    <p>
    <li>
        <div style= {% if evento.get_evento_atrasado %}
                            "color: red";
                            {% endif %}>
        {{evento.titulo}}  //  {{evento.descricao}}   //  {{evento.get_data_evento}}
        <button><a href="evento/?id={{evento.id}}"> EDITAR </a></button>
        <button><a href="evento/delete/{{evento.id}}/"> EXCLUIR </a></button>
        </div>
     </li>
    </p>
        {% endfor %}
    </ul>
{% endblock %}