{% extends "model-page.html" %}
{% block content %}
    <h2>Lista de Agendamento</h2>
    
    <a href="evento/">
    <button type="button">Novo evento</button>
    </a>

    <ul style="font-size: 20px;">
        {% for evento in eventos %}
    <p>
    <li>
        {{evento.titulo}}  //  {{evento.descricao}}   //  {{evento.get_data_evento}}
        (<a href="evento/?id={{evento.id}}"> EDITAR </a>)
        (<a href="evento/delete/{{evento.id}}/"> EXCLUIR </a>)
     </li>
    </p>
        {% endfor %}
    </ul>
{% endblock %}